@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
/*--------------------------------------------------*/
/*--------------------------------------------------*/

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; /*박스영역은 테두리까지 지정*/
}
a{
    text-decoration: none;
}
ul{
    list-style: none; /*불릿 기호 보이지 않게 만들기*/
}

#container{
    margin: 0 auto;/*화면 중앙에 배치*/
    width: 1200px; /*너비지정*/
}

/*--------------------------------------------------*/

/*헤더영역*/
header{
    width: 100%;
    height: 100px;
    background-color: #07c;
}

/*--------------------------------------------------*/

/*로고영역*/
#logo{
    float: left; /*왼쪽으로 플로팅*/
    width: 250px;
    height: 100px; 
    line-height: 100px; /*height값과 같게 만들어서 세로로 중간에 오도록 맞춤*/
    padding-left: 20px; 
}
#logo h1{
    font-family: 'Merienda', cursive;    
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 -1px 0 #222;
}

/*--------------------------------------------------*/

/*내비게이션 영역*/
nav{
    float: right; /*오른쪽으로 플로팅*/
    width: 900px;
    height: 100px;
    padding-top: 40px; /*메뉴를 아래로 내리기 위해*/
}

/*~ 메뉴 ~*/
#topMenu{
    height: 60px;
}
#topMenu > li{
    float: left;
    position: relative;
}
#topMenu > li > a{
    display: block; /*링크 텍스트는 블록으로*/
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px #07c;
    padding: 20px 60px;
}
#topMenu > li > a > span{
    font-size: 0.5em; /*서브메뉴가 있는 항목에 화살표 표시?*/
}
#topMenu > li > a:hover{
    color: #000;
    text-shadow: 0 -1px #07c; /*글지가 굵어지지 않도록 지정*/
    left: 20px;
}

/*~ 서브메뉴 ~*/
#topMenu > li > ul {
    display: none; /*서브메뉴를 처음에는 감춤*/
    position: absolute;
    width: 160px;
    background-color: rgba(255,255,255,0.6);
    left: 0;
    margin: 0;
}
#topMenu > li > ul > li {
    padding: 10px 10px 10px 30px;
}
#topMenu > li > ul > li > a{
    font-size: 14px;
    padding: 10px;
    color: #000;
}
#topMenu > li:hover > ul{
    display: block; /*메인 메뉴 항목 위로 오버하면 서브메뉴 표시*/
    z-index: 10; /*슬라이드 쇼에 가리지 않게 조절*/
}
#topMenu > li > ul > li > a:hover{
    color: #f00; /*서브메뉴 마우스 오버하면 색상바꾸기*/
}
/*--------------------------------------------------*/

/*이미지 슬라이드쇼 영역*/
#slideShow{
    clear: both; /*플로팅해제*/
    width: 100%;
    height: 300px;
    overflow: hidden; /*영역 넘치면 감춤*/
    position: relative;
}
#slides{
    position: absolute;
}
#slides > img{
    width: 100%;
    float: left; /*가로로 배치*/
}

button{
    position: absolute;
    height: 100%;
    top: 0;
    border: none;
    padding: 20px;
    background-color: transparent; /*투명한 배경 지정*/
    color: #000;
    font-weight: 800;
    font-size: 24px;
    opacity: 0.5; /*화살표는 반투명하게*/
}
#prev{
    left: 0;
}
#next{
    right: 0;
}
button:hover{
    background-color: #222; /*배경을 짙은 회색으로*/
    color:#fff;
    opacity: 0.6; /*조금 불투명하게*/
    cursor: pointer; /*포인터 모양으로 바꿈*/
}
button:focus{
    outline: 0; /*아웃라인없앰*/
}
/*--------------------------------------------------*/

/*콘텐츠 영역*/
#contents{
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

/*--------------------------------------------------*/

/*탭 메뉴 영역*/
#tabManu{
    float: left; /*왼쪽으로 플로팅*/
    width: 600px;
    height: 100%;
    margin-top: 10px;
}
#tabManu input[type="radio"]{
    display: none; /*라디오버튼 감춤*/
}
#tabManu label{
    display: inline-block; /*탭을 가로로 배치*/
    margin: 0 0;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid transparent; /*테두리 스타일*/
}
#tabManu label:hover{ /*마우스 포인터를 올렸을 때 탭 제목 스타일*/
    color: #222;
    cursor: pointer;
}
#tabManu input:checked + label{ /*활성화된 탭 제목 스타일*/
    color: #b00;
    border: 1px solid #ddd;
    background-color: #eee;
}

.tabContent{ /*탭 내용 스타일*/
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}
.tabContent h2{
    display: none;
}

#notice ul{
    list-style: disc;
    margin-left: 30px;
}
#notice ul li {
    font-size: 16px;
    line-height: 2.5;
}
#gallery ul li {
    display: inline; /*이미지 가로로 배치*/
}

#tab1:checked~#notice,
#tab2:checked~#gallery{
    display: block;
}

/*--------------------------------------------------*/

/*퀵 링크 영역*/
#links{
    float: right; /*오른쪽으로 플로팅*/
    width: 600px;
    height: 100%;
    margin-top: 15px;
}
#links ul {
    padding: 0;
    overflow: hidden;
}
#links ul li{
    float: left; /*오른쪽으로 플로팅*/
    width: 33%; /*세 항목의 영역을 균일하게 지정*/
    text-align: center;
    margin: 10px 0;
}
#links ul li a span {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%; /*테두리를 둥글게 지정*/
    border: 1px solid #ddd;
    line-height: 150px; /*수직으로 중간에 오게*/
}
#quick-icon1{
    background-image: url('../images/icon-1.jpg');
}
#quick-icon2{
    background-image: url('../images/icon-2.jpg');
}
#quick-icon3{
    background-image: url('../images/icon-3.jpg');
}
#links ul li a p{
    margin-top: 15px;
    font-weight: 600;
    color: #666;
}

/*--------------------------------------------------*/

/*푸터 영역*/
footer{
    width: 100%;
    height: 100px;
    border-top: 2px solid #222; /*위쪽에 가로선 추가*/
}
#bottomMenu{
    width: 100%;
    height: 20px;
    position: relative;
}
#bottomMenu ul { 
    margin-top: 15px;
}
#bottomMenu ul li { 
    float: left; /*가로선 배치*/
    padding: 5px 20px;
    border-right: 1px solid #ddd; /*항목 오른쪽에 세로선*/
}
#bottomMenu ul li:last-child { 
    border-right: none; /*항목 오른쪽에 세로선*/
}
#bottomMenu ul li a,
#bottomMenu ul li a:visited { 
    font-size: 15px;
    color: #666;
}

#sns {
    position: absolute; 
    right: 0; /*오른쪽 끝에 배치*/
}
#sns ul li{
    border: none;
    padding: 5px;
}

#company{
    clear: left; /*플로팅 해제: clear: both도 가능*/
    margin-top: 25px;
    margin-left: 20px;
}
p{
    font-size: 14px;
    color: #aaa;
}

/*회원가입*/
#layoutAuthentication{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* flex-grow: 1; */
}

#layoutAuthentication #layoutAuthentication_content{
    min-width: 0;
    flex-grow: 1;
}

#layoutAuthentication #layoutAuthentication_footer{
    min-width: 0;
}
